.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  background-color: white;
}
.gridlist {
  width: 600;
  height: 700;
}
.icon {
  color: white;
  margin-right: 10px;
}
