.root {
  min-width: 275px;
  max-width: 345px;
}
.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}
.media {
  height: 0;
  padding-top: 100%;
}
.title {
  font-size: 14px;
}
.pos {
  margin-bottom: 12px;
}
